services:
  ark-escrow:
    profiles:
      - dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      # Using 3002 to avoid conflict with Nigiri
      - "3002:3002"
    environment:
      - PORT=3002
      - NODE_ENV=development
      - SQLITE_DB_PATH=/app/data/db.sqlite
      - ARK_SERVER_URL=http://ark:7070
      - SHARE_BASE_URL=http://localhost:3002/client/requests
      - JWT_SECRET=dev_super_secret_change_me
      - ARBITRATOR_PUB_KEY=86f5d11162ab25c88f4af9cc4224161a40a6e029a45beb8459f0f5f5a95f66d8
      - ARBITRATOR_PRIV_KEY=62325754772ad366d149517311d5fe5cbccb4746ef0285c393ff67f0ad62dd87 # change it for anything different than local dev
      # - DEMO_MODE=true # uncomment to enable demo mode (auto-resolves disputes with 'release' verdict)
    networks:
      - default
      - nigiri
    volumes:
      - .:/app
    command: npm run dev

networks:
  nigiri:
    external: true

volumes:
  sqlite-data:
