services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
      args:
        DEPS_CACHE_BUST: "2025-09-15-1"
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - NODE_ENV=production
      - SQLITE_DB_PATH=data/db.sqlite
      - ARK_SERVER_URL=http://ark:7070
      - JWT_SECRET=dev_super_secret_change_me
      - ARBITRATOR_PUB_KEY=61d8b7526b6d5a46a57a01fcab370acaad1bff309da342bf4acc9077db6b4ac2
    volumes:
      - sqlite-data:/app/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  api-dev:
    profiles:
      - dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      # Using 3002 to avoid conflict with Nigiri
      - "3002:3002"
    environment:
      - PORT=3002
      - NODE_ENV=development
      - SQLITE_DB_PATH=data/db.sqlite
      - ARK_SERVER_URL=http://ark:7070
      - JWT_SECRET=dev_super_secret_change_me
      - ARBITRATOR_PUB_KEY=61d8b7526b6d5a46a57a01fcab370acaad1bff309da342bf4acc9077db6b4ac2
    networks:
      - default
      - nigiri
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev

networks:
  nigiri:
    external: true

volumes:
  sqlite-data:
