services:
  ark-escrow:
    profiles:
      - dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      # Using 3002 to avoid conflict with Nigiri
      - "3002:3002"
    environment:
      - PORT=3002
      - NODE_ENV=development
      - SQLITE_DB_PATH=/app/data/db.sqlite
      - ARK_SERVER_URL=http://ark:7070
      - JWT_SECRET=dev_super_secret_change_me
      - ARBITRATOR_PUB_KEY=61d8b7526b6d5a46a57a01fcab370acaad1bff309da342bf4acc9077db6b4ac2
      - ARBITRATOR_PRIV_KEY=67b4f9c22402116a4eb1ac9a6d6ceb8b67b75bd1e7165078f8bc0b6f6ece30b0 # change it for anything different than local dev
    networks:
      - default
      - nigiri
    volumes:
      - .:/app
    command: npm run dev

networks:
  nigiri:
    external: true

volumes:
  sqlite-data:
