services:
  # Production
  # trick for SQLite file permissions without using root user in the app
  init-perms:
    image: busybox:latest
    user: "0:0"
    volumes:
      - ./data:/app/data
    command: sh -c "mkdir -p /app/data && chown -R 1001:1001 /app/data"
    restart: "no"

  api:
    depends_on:
      init-perms:
        condition: service_completed_successfully
    build:
      context: .
      dockerfile: Dockerfile
      target: production
      args:
        DEPS_CACHE_BUST: "2025-09-15-1"
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    volumes:
      # Mount volume for SQLite database persistence
      - ./data:/app/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  # Development
  api-dev:
    profiles:
      - dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      # Using 3002 to avoid conflict with Nigiri
      - "3002:3002"
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
