services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
      args:
        DEPS_CACHE_BUST: "2025-09-15-1"
    ports:
      - "80:80"
    environment:
      - PORT=80
      - NODE_ENV=production
      # - POSTGRES_HOST= look in Dockploy
      - POSTGRES_PORT=5432
      - POSTGRES_DB=ark_escrow
      - POSTGRES_USER=ark
      # - POSTGRES_PASSWORD= look in Dockploy
      - ARK_SERVER_URL=https://mutinynet.arkade.sh
    volumes:
      # Mount volume for SQLite database persistence
      - arkade_sqlite:/app/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:80/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  # Development
  db:
    image: postgres:16
    profiles:
      - dev
    environment:
      - POSTGRES_DB=ark_escrow
      - POSTGRES_USER=ark
      - POSTGRES_PASSWORD=password4ark
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 10s
      timeout: 5s
      retries: 5

  api-dev:
    depends_on:
      db:
        condition: service_healthy
    profiles:
      - dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      # Using 3002 to avoid conflict with Nigiri
      - "3002:3002"
    environment:
      - PORT=3002
      - NODE_ENV=development
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=ark_escrow
      - POSTGRES_USER=ark
      - POSTGRES_PASSWORD=password4ark
      - ARK_SERVER_URL=http://ark:7070
    networks:
      - default
      - nigiri
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev

volumes:
  pgdata: {}

networks:
  nigiri:
    external: true